body {
  font-family: 'Pumpkin', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.titulo-headhunter {
    font-family: 'Headhunter', Arial, sans-serif;
    font-size: 66px; /* Cambia el tamaño del texto aquí */
    text-align: center; /* Alinea al centro */
    color: #e65100;
}
.descripcion1{
    font-family: monospace;
    font-size: 26px; /* Cambia el tamaño del texto aquí */
    text-align: center; /* Alinea al centro */
}
.descripcion2{
    font-family: monospace;
    font-size: 26px; /* Cambia el tamaño del texto aquí */
    text-align: center; /* Alinea al centro */
}
.whatsapp-button {
  text-align: center; /* Alinea al centro */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}
.iframe-container {
  margin: 20px auto;
  width: 80%;
}
.whatsapp-button button {
  background-color: #ff6600; /* Color de fondo naranja */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interior del botón */
  font-size: 40px; /* Tamaño del texto */
  border: #e65100; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
.whatsapp-button button:hover {
  background-color: #e65100; /* Cambia el color al pasar sobre el botón */
}
body {
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
  margin-top: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
li:last-child {
  border-bottom: none; /* No añadir borde al último elemento */
}
li:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6600;
  color: white;
  padding: 26px 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.banner .menu-icon {
  margin-left: 20px;
}
.nombre-pagina {
  font-family: 'Headhunter', Arial, sans-serif;
  font-size: 44px;
  color: white;
  align-items: center;
}
.banner .nombre-pagina {
  flex-grow: 1;
  text-align: left;
}
.banner .whatsapp a,
.banner .llamar-ahora a,
.banner .como-llegar a {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 26px ;
  font-family: 'Headhunter', Arial, sans-serif;
}
.banner .whatsapp i,
.banner .llamar-ahora i,
.banner .como-llegar i {
  margin-right: 5px;
}
.banner .whatsapp a:hover,
.banner .llamar-ahora a:hover,
.banner .como-llegar a:hover {
  text-decoration: underline;
  filter: brightness(0.8); /* Este valor oscurece el elemento al pasar el ratón */
}
.banner .nombre-pagina a:hover {
  filter: brightness(0.8);
}
.plato-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas con igual ancho */
  gap: 20px; /* Espacio entre elementos */
}
.plato {
  font-family: 'Headhunter', Arial, sans-serif;
  border: 1px solid #ff6600;
  border-radius: 8px;
  padding: 20px;
  margin: 0;
}
.plato h2 {
  color: #e65100;
  margin: 0 0 10px; /* Margen en la parte inferior del título */
}
.gallery {
    font-size: 40px; /* Cambia el tamaño del texto aquí */
    color: #e65100;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
}
h1 {
  text-align: center;
}
.form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form-button {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 1em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-button:hover {
  background-color: #0056b3;
}
.form-group {
  font-family: 'Headhunter', Arial, sans-serif;
  font-size: 26px; /* Cambia el tamaño del texto aquí */  
  color:red;
}
    .jumbotron {
      background-color: #2c3e50; /* Fondo del jumbotron */
      color: white;
      padding: 50px;
    }
    .jumbotron p {
      font-size: 24px;
    }
    .jumbotron h1{
        font-family: 'Headhunter', Arial, sans-serif;
          font-size: 26px; /* Cambia el tamaño del texto aquí */ 
            text-align: center;

    }
    .jumbotron p {
                font-family: 'Headhunter', Arial, sans-serif;
              font-size: 24px;
                text-align: center;
    }
    .jumbotron hr {
         font-family: 'Headhunter', Arial, sans-serif;
           font-size: 26px; /* Cambia el tamaño del texto aquí */ 
             text-align: center;
    }
    .gallery {
        text-align: center;
        font-family: 'Headhunter', Arial, sans-serif;
    }
  .imagen-pequena {
  align-items: normal;
  width: 420px; /* Cambia este valor al tamaño que necesites */
  height: auto; /* Esto mantiene la proporción de la imagen */
  border-radius: 10px;
}
.menu {
font-family: 'Headhunter', Arial, sans-serif;
      color: black;
}
